<section class=" vh-100 " >
    <div class="container ">
        <div class="row ">
            <div class="col-lg-12  mb-sm-5">
                <div class="card card-style1 border-0">
                    <div class="card-body p-1-9 p-sm-2-3 p-md-6 p-lg-7">
                        <div class="row align-items-center">
                            <div class="col-lg-6 mb-4 mb-lg-0">
                                <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="...">
                            </div>
                            <div class="col-lg-6 px-xl-10">
                                <div class="align-items-center">
                                    <h4>Your Profile</h4>
                                </div>
                                <ul class="list-unstyled mb-1-9 mt-5">
                                    <li class="mb-2 mb-xl-3 display-28"><span class="display-26 text-secondary me-2 font-weight-600">Name:</span>{{userData.name}}</li>
                                    {{!-- <li class="mb-2 mb-xl-3 display-28"><span class="display-26 text-secondary me-2 font-weight-600">Experience:</span> 10 Years</li> --}}
                                    <li class="mb-2 mb-xl-3 display-28"><span class="display-26 text-secondary me-2 font-weight-600">Email:</span>{{userData.email}}</li>
                                    {{!-- <li class="mb-2 mb-xl-3 display-28"><span class="display-26 text-secondary me-2 font-weight-600">Website:</span> www.example.com</li> --}}
                                    <li class="display-28"><span class="display-26 text-secondary me-2 font-weight-600">Phone:</span>{{userData.mobile}}</li>
                                </ul>
                                <a type="button"  href="/update-profile" class="btn h4 bg-warning">Edit Profile</a>
                                <button type="button"  href="#" class="btn h4 bg-warning ">Orders</button>
                                <button type="button" href="#" class="btn h4  bg-warning  ">Address</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            </section>